{% extends './base.html' %}

{% load static %}

{% block hero %} {% endblock %}

{% block content %} 

<section id="contact" class="container parallax5">
    <!-- Contact Inner -->
    <div class="inner contact padding">

        <!-- Header -->
        <h1 class="header semibold white">SeQuenceFX<span class="extrabold colored"> Investments</span> About Page</h1>

        <!-- Description -->
        
        
        
    </div><!-- End Inner -->
</section><!-- End Contact Section -->

<section>

    <div class="row inner" style="padding:40px 10px 40px 10px; text-align:left; font-size: 14px;">

        <div class="col-md-6 contact">
        
            <h1>About Us</h1>

            <p>
                Everyone deserves a shot at success and wealth creation and Financial Investments, regardless of their
background or current social status.
But not many understand how to build sustainable Finances;
            </p>

            <p>
SeQuence_Fx Smart Invest and Academy, is a financial company primarily dealing in the Foreign
Exchange Market operations; and our vision is to help all our investors build sustainable Finances and
Wealth, through our Smart Invest Scheme, Irrespective of their Financial and educational Background.
            </p>
            <p>
We are duly Incorporated Under the Companies and Allied Matters Act, Cap.C24,LFN 2004, with
RC---------------------
Having been around for a lot of years,
We have Highly skilled and experienced traders who understand the basic and intrinsic principles of the
market, and we use these market laws to generate CONSTANT AND CONSISTENT profits on your
investment.
            </p>
            <p>
And of course reducing the risk of taking a loss to the barest minimum and not taking reckless risks/
trades; Even if it translates to generating just 1% profits per day!. This would still be enough to pay all
Investors every 15 days.
            </p>
            <p>
This level of discipline has made the chance of taking a good loss almost non existent !
THIS HERE, IS CENTRAL TO OUR CORE VALUES AS A COMPANY.
It is dutiful of us to be able to serve and also change the lives of individuals, brands and corporate firms
who Invest with us, with utmost integrity.
            </p>

        </div>
        <div class="col-md-6">

            <h1>Our Vision</h1>

            <p>
                Since the devaluation of the Naira, and with the scarcity of the Dollar, Investors generally have no
where to invest their Funds. So they leave the naira in their bank accounts, where it loses value the
more
            </p><br>

            <h1>Our Vision and Mission</h1>

            <p>
                is to help all our investors, build profitable and sustainable Finances and
Wealth, through our Simple but Smart Investment Scheme, Irrespective of their Financial and educational
Background. We do this through very simple investment procedures.
We are here to empower the lives and finances of all and sundry, By introducing a method of investment
which is different from the conventional methods available.
We seek to help individuals, brands and corporate firms improve their financial stance by providing you
with alternate and varying investment plans that perfectly fit your Convenience
            </p>

        </div>

    </div>

</section>

<section id="blockquote">

    <div class="inner no-padding">
        <!-- Your Text -->
        <h3 class="uppercase normal white" style="position: left !important;padding:0px 20px 0px 20px;">All our investment <span class="colored">Packages</span></h3>
    </div>

</section>

<section id="investment-plans" class="container">

    <div class="inner prices row" style="padding:40px 10px 40px 10px; font-size: 14px;">

        <!-- Header -->
        <h1 class="header semibold dark">Investment <span class=" colored bold">Plans</span></h1>

        <!-- Description -->
        <h4 class="h-desc">Your account, your rules!  We have 3 different packages to Suite your convenience.</h4>

        <!-- Tables -->
        <ul class="tables">

            <!-- <div class="col-xs-2"></div> -->

            <!-- Table -->
            <li class="col-xs-4 pricing-table relative">
            <!-- Table Inner -->
            <div class="table-inner">
            <!-- Table Top -->
            <div class="price-table-top">
            <!-- Header -->
            <h3 class="uppercase bold white absolute">Platinum Package</h3> 
            <!-- Image Link -->
            <a class="price-table-img pattern-grid">
            <!-- Your Image -->
            <!-- <img src="images/tables/2.jpg" alt="" /> -->
            </a>
            <!-- Price Circle -->
            <a class="price-circle absolute dark">
            <!-- Price -->
            <p class="price playball">₦100,000</p>
            <!-- Timely -->
            <p class="timely italic normal">And above</p>
            </a>
            </div><!-- End Table Top -->
            <!-- Price Plans -->
            <ul class="price-plans">
                <li class="price-plan uppercase bold italic"><span class="colored"> ROI </span> - 20% Monthly </li>
                <li class="price-plan uppercase bold italic"><span class="colored"> Duration </span> - 5 Months</li>
                <li class="price-plan uppercase bold italic"><span class="colored"> Extra - </span> 100% cummulative roi during investment duration </li>
                <li class="price-plan uppercase bold italic"><span class="colored"> Extra - </span> Capital is refunded after investment duration </li>
            </ul><!-- End Price Plans -->
            <!-- Buy Now Button -->
            <a href="{% url 'mainsite:register' %}" class="price-buy-now uppercase semibold white">Register</a>
            </div><!-- End Table Inner -->
            </li><!-- End Table -->


            <!-- Table -->
            <li class="col-xs-4 pricing-table relative active">
            <!-- Table Inner -->
            <div class="table-inner">
            <!-- Table Top -->
            <div class="price-table-top">
            <!-- Header -->
            <h3 class="uppercase bold white absolute">Diamond Package</h3> 
            <!-- Image Link -->
            <a class="price-table-img pattern-grid">
            <!-- Your Image -->
            <!-- <img src="images/tables/3.jpg" alt="" /> -->
            </a>
            <!-- Price Circle -->
            <a class="price-circle absolute dark">
            <!-- Price -->
            <p class="price playball">₦100,000</p>
            <!-- Timely -->
            <p class="timely italic normal">And above</p>
            </a>
            </div><!-- End Table Top -->
            <!-- Price Plans -->
            <ul class="price-plans">
                <li class="price-plan uppercase bold italic"><span class="colored"> ROI - </span> 30% of amount monthly </li>
                <li class="price-plan uppercase bold italic"><span class="colored"> Duration - </span> 12 months </li>
                <li class="price-plan uppercase bold italic"><span class="colored"> Extra - </span> 360% cummulative roi during investment duration </li>
                <li class="price-plan uppercase bold italic"><span class="colored"> Extra - </span> Capital is not refunded after investment duration </li>
            </ul><!-- End Price Plans -->
            <!-- Buy Now Button -->
            <a href="{% url 'mainsite:register' %}" class="price-buy-now uppercase semibold white">Register</a>
            </div><!-- End Table Inner -->
            </li><!-- End Table -->

            <!-- Table -->
            <li class="col-xs-4 pricing-table relative">
            <!-- Table Inner -->
            <div class="table-inner">
            <!-- Table Top -->
            <div class="price-table-top">
            <!-- Header -->
            <h3 class="uppercase bold white absolute">Gold Package</h3> 
            <!-- Image Link -->
            <a class="price-table-img pattern-grid">
            <!-- Your Image -->
            <!-- <img src="images/tables/2.jpg" alt="" /> -->
            </a>
            <!-- Price Circle -->
            <a class="price-circle absolute dark">
            <!-- Price -->
            <p class="price playball">₦100,000</p>
            <!-- Timely -->
            <p class="timely italic normal">And above</p>
            </a>
            </div><!-- End Table Top -->
            <!-- Price Plans -->
            <ul class="price-plans">
                <li class="price-plan uppercase bold italic"><span class="colored">ROI - </span>200% after 5 Months  </li>
                        
                <li class="price-plan uppercase bold italic"><span class="colored">Duration - </span> 5 Months</li>
                <!-- <li class="price-plan uppercase bold italic"><span class="colored">Payment</span> is only made at the end of duration</li> -->
                <!-- <br> -->
                <li class="price-plan uppercase bold italic"><span class="colored"> Extra - </span> 100% cummulative roi + capital refund after 5 months </li>
                <li class="price-plan uppercase bold italic"><span class="colored">Secured</span> with an email letter and an investor contract stating the exact details of agreement.</li>
            </ul><!-- End Price Plans -->
            <!-- Buy Now Button -->
            <a href="{% url 'mainsite:register' %}" class="price-buy-now uppercase semibold white">Register</a>
            </div><!-- End Table Inner -->
            </li><!-- End Table -->

            <!-- <div class="col-xs-2></div> -->

            <!-- Clear -->
            <li class="clear"></li>
        </ul><!-- End Tables -->

    </div><!-- End Inner -->

</section><!-- End Prices Section -->

<section id="blockquote">

    <div class="inner no-padding" id="tandc">
        <!-- Your Text -->
        <h3 class="uppercase normal white" style="position: left !important;padding:0px 20px 0px 20px;">Terms and <span class="colored">Conditions</span></h3>
    </div>

</section>

<section>

    <div class="row inner" style="padding:40px 10px 40px 10px; text-align:left; font-size: 14px;">

        <div class="col-md-6 contact">
        
            <h1>Terms and Conditions</h1>

            <p>
                The Statement contained in the Terms and conditions determines the Contractual relationship between the Investor and SeQuence_Fx Academy and Smart Invest. Conceived by recognizing the essence of establishing an agreement for promotion and protection of investment at the interest of both parties proceeding into the investment contract and signing the Memorandum of Understanding means that the Investor has read, understood and agreed to the terms and conditions of the said contract. 
            </p>

        </div>

        

        <div class="col-md-6 contact">

            <h1>Definitions</h1>

            <ol>
                <li>1. The term “Investments” shall mean the amount of funds committed into the investment contract in accordance with the provision of SeQuence_Fx Academy and Smart Invest was made.</li>
                <li>2. The contracting party in whose territory the investment is made shall be called “SeQuence_Fx”</li>
                <li>3. The term “Returns’ shall mean the amount of profits and sums yielded by an investment in accordance with the provision of the contracting party.</li>
                <li>4. The term “Investors” shall mean any person or legal entity, including a corporation, a firm, an association or a partnership making an investment with SeQuence_Fx.</li>
            </ol>

        </div>

    </div>

</section>

<section id="blockquote">

    <div class="inner no-padding">
        <!-- Your Text -->
        <h3 class="uppercase normal white" style="position: left !important;padding:0px 20px 0px 20px;">Policy of <span class="colored">Funds</span> and Returns</h3>
    </div>

</section>

<section>

    <div class="row inner" style="padding:40px 10px 40px 10px; text-align:left; font-size: 14px;">

        <div class="col-md-6 contact">
        
            <h1>Use and Protection of Funds</h1>

            <p>
                SeQuence_Fx shall put necessary efforts in place to secure the funds provided by the investors in accordance with the agreement reached between SeQuence_Fx and Investor. SeQuence_Fx shall be using the funds as stated in the agreement to trade the Forex Market and transact in other very profitable businesses
            </p>

        </div>

        

        <div class="col-md-6 contact">

            <h1>Repartriation of Investment and Returns</h1>

            <p>
                SeQuence Fx shall refund the investor plus the profit earned on investment in the PLATINUM PACKAGE. Method and system of repatriation at the end of this investment plan in accordance to the mode of request made by the investor.  In any case, if the investor decides to terminate the investment plan and obtain full money prior to the agreed date of repatriation. A non- negotiable 30% penalty fee shall be deducted for breach of contract, inconvenience caused and all interest accrued shall be forfeited. 
            </p>

        </div>

    </div>

</section>

<section id="blockquote">

    <div class="inner no-padding">
        <!-- Your Text -->
        <h3 class="uppercase normal white" style="position: left !important;padding:0px 20px 0px 20px;">Confidentiality and <span class="colored">Arbitration</span></h3>
    </div>

</section>

<section>

    <div class="row inner" style="padding:40px 10px 40px 10px; text-align:left; font-size: 14px;">

        <div class="col-md-6 contact">
        
            <h1>Confidentiality</h1>

            <p>
                Both contracting parties shall, keep in strict confidence all financial information belonging  to the other party, or which was jointly developed by both parties in preparation of the definitive agreement. Whereas, without prior written consent of the other party, neither party shall at any time disclose any confidential information to any third party, save and except where it is necessary for the agreement.
            </p>

        </div>

        

        <div class="col-md-6 contact">

            <h1>Arbitration</h1>

            <p>
                The investor agrees that no lawsuit shall be filed against SeQuence_Fx Academy and Smart Invest but both parties shall use reasonable measures to settle any disputes arising from this agreement, amicably through discussions. If the issues cannot be resolved in 14days, such claims will be resolved by binding arbitration, rather than in court. Each party shall provide their own arbitrator. Both arbitrators shall agree on another (neutral) arbitrator whose decision will be final.  The arbitration shall be governed by Nigerian law pursuant to the Arbitration and Conciliation Act Cap A18 Laws of the Federation of Nigeria ,2004, as amended, replaced and re-enacted from time to time.  
            </p>

        </div>

    </div>

</section>

<section id="blockquote">

    <div class="inner no-padding">
        <!-- Your Text -->
        <h3 class="uppercase normal white" style="position: left !important;padding:0px 20px 0px 20px;">Risk Policy and <span class="colored">Support</span></h3>
    </div>

</section>

<section>

    <div class="row inner" style="padding:40px 10px 40px 10px; text-align:left; font-size: 14px;">

        <div class="col-md-6 contact">
        
            <h1>Risk Policy</h1>

            <p>
                SeQuence_Fx Academy and Smart Invest guarantees protection and safety of funds, and if in any case, the fund committed into the contract in accordance with the agreement made has received constant returns for 5 months. Any disputes arising in relation to funds shall be strictly settled in accordance with the arbitration terms and conditions. 
            </p>

        </div>

        

        <div class="col-md-6 contact">

            <h1>Support</h1>

            <p>
                We Care about your well being.   You can contact us on our support channel if you have any issues regarding Deposits, Payments, withdrawal of funds, Forex Training and Account management etc. 
We have agents who are available 24/7.  Our investors Satisfaction, Our utmost Priority.   
            </p>

        </div>

    </div>

</section>

{% endblock %}