{% extends './base.html' %}

{% load static %}

{% block hero %} {% endblock %}

{% block content %} 

<section id="contact" class="container parallax5">
    <!-- Contact Inner -->
    <div class="inner contact padding">

        <!-- Header -->
        <h1 class="header semibold white">SeQuenceFX<span class="extrabold colored"> Investments</span> About Page</h1>

        <!-- Description -->
        
        
        
    </div><!-- End Inner -->
</section><!-- End Contact Section -->

<!-- Team -->
<section id="team" class="container">

    <!-- Team Inner -->
    <div class="inner team">

        <!-- Header -->
        <h1 class="header light dark">The <span class="colored">SeQuenceFX </span> Team</h1>

        <!-- Description -->
        <h4 class="h-desc dark">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and by the <span class="dark bold">charms</span> of pleasure of the moment, so blinded by desire, that they cannot foresee the pain </h4>


        <!-- Members -->
        <div class="team-members inner-details">

            <!-- Member -->
            <div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="0">
                <div class="member-inner">
                    <!-- Team Member Image -->
                    <a class="team-image">
                        <!-- Img -->
                        <img src="{% static 'mainsite/images/team/1.jpg' %}" alt="" />
                    </a>
                    <div class="member-details">
                        <div class="member-details-inner">
                            <!-- Name -->
                            <h2 class="member-name uppercase normal">Julia Amanda</h2>
                            <!-- Position -->
                            <h4 class="member-position uppercase normal">Photographer</h4>
                            <!-- Description -->
                            <p class="member-description">It is a long established fact that a reader will be distracted by the readable content.</p>
                            <!-- Socials -->
                            <div class="socials">
                                <!-- Facebook -->
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <!-- Twitter -->
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <!-- Instagram -->
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <!-- Tumblr -->
                                <!-- <a href="#"><i class="fa fa-tumblr"></i></a> -->
                            </div><!-- End Socials -->
                        </div> <!-- End Detail Inner -->
                    </div><!-- End Details -->
                </div> <!-- End Member Inner -->
            </div><!-- End Member -->


            <!-- Member -->
            <div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="100">
                <div class="member-inner">
                    <!-- Team Member Image -->
                    <a class="team-image">
                        <!-- Img -->
                        <img src="{% static 'mainsite/images/team/2.jpg' %}" alt="" />
                    </a>
                    <div class="member-details">
                        <div class="member-details-inner">
                            <!-- Name -->
                            <h2 class="member-name uppercase normal">Adriana Doen</h2>
                            <!-- Position -->
                            <h4 class="member-position uppercase normal">Human Resources</h4>
                            <!-- Description -->
                            <p class="member-description">It is a long established fact that a reader will be distracted by the readable content.</p>
                            <!-- Socials -->
                            <div class="socials">
                                <!-- Facebook -->
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <!-- Twitter -->
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <!-- Instagram -->
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <!-- Tumblr -->
                                <!-- <a href="#"><i class="fa fa-tumblr"></i></a> -->
                            </div><!-- End Socials -->
                        </div> <!-- End Detail Inner -->
                    </div><!-- End Details -->
                </div> <!-- End Member Inner -->
            </div><!-- End Member -->


            <!-- Member -->
            <div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="200">
                <div class="member-inner">
                    <!-- Team Member Image -->
                    <a class="team-image">
                        <!-- Img -->
                        <img src="{% static 'mainsite/images/team/3.jpg' %}" alt="" />
                    </a>
                    <div class="member-details">
                        <div class="member-details-inner">
                            <!-- Name -->
                            <h2 class="member-name uppercase normal">Clear Brown</h2>
                            <!-- Position -->
                            <h4 class="member-position uppercase normal">Developer</h4>
                            <!-- Description -->
                            <p class="member-description">It is a long established fact that a reader will be distracted by the readable content.</p>
                            <!-- Socials -->
                            <div class="socials">
                                <!-- Facebook -->
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <!-- Twitter -->
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <!-- Instagram -->
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <!-- Tumblr -->
                                <a href="#"><i class="fa fa-tumblr"></i></a>
                            </div><!-- End Socials -->
                        </div> <!-- End Detail Inner -->
                    </div><!-- End Details -->
                </div> <!-- End Member Inner -->
            </div><!-- End Member -->


            <!-- Clear -->
            <div class="clear"></div>
        </div><!-- End Members -->
    </div><!-- End Team Inner -->
</section><!-- End Team Section -->

{% endblock %}


<!-- Table -->
<li class="col-xs-4 pricing-table relative">
    <!-- Table Inner -->
    <div class="table-inner">
        <!-- Table Top -->
        <div class="price-table-top">
            <!-- Header -->
            <h3 class="uppercase bold white absolute">Platinum Package</h3> 
            <!-- Image Link -->
            <a class="price-table-img pattern-grid">
                <!-- Your Image -->
                <!-- <img src="images/tables/2.jpg" alt="" /> -->
            </a>
            <!-- Price Circle -->
            <a class="price-circle absolute dark">
                <!-- Price -->
                <p class="price playball">₦100,000</p>
                <!-- Timely -->
                <p class="timely italic normal">And above</p>
            </a>
        </div><!-- End Table Top -->
        <!-- Price Plans -->
        <ul class="price-plans">
            <li class="price-plan uppercase bold italic"><span class="colored">10 %</span> of amount twice monthly</li>
            <li class="price-plan uppercase bold italic"><span class="colored">Minimum</span> duration of 3 months</li>
            <li class="price-plan uppercase bold italic"><span class="colored">Maximum</span> duration of 5 months</li>
            <li class="price-plan uppercase bold italic"><span class="colored">Capital</span> is returned after specified duration</li>
        </ul><!-- End Price Plans -->
        <!-- Buy Now Button -->
        <a href="{% url 'mainsite:register' %}" class="price-buy-now uppercase semibold white">Register</a>
    </div><!-- End Table Inner -->
</li><!-- End Table -->


<!-- Table -->
<li class="col-xs-4 pricing-table relative active">
    <!-- Table Inner -->
    <div class="table-inner">
        <!-- Table Top -->
        <div class="price-table-top">
            <!-- Header -->
            <h3 class="uppercase bold white absolute">Diamond Package</h3> 
            <!-- Image Link -->
            <a class="price-table-img pattern-grid">
                <!-- Your Image -->
                <!-- <img src="images/tables/3.jpg" alt="" /> -->
            </a>
            <!-- Price Circle -->
            <a class="price-circle absolute dark">
                <!-- Price -->
                <p class="price playball">₦100,000</p>
                <!-- Timely -->
                <p class="timely italic normal">And above</p>
            </a>
        </div><!-- End Table Top -->
        <!-- Price Plans -->
        <ul class="price-plans">
            <li class="price-plan uppercase bold italic"><span class="colored">15 %</span> of amount twice monthly</li>
            <li class="price-plan uppercase bold italic"><span class="colored">Fixed</span> duration of 12 months</li>
            <li class="price-plan uppercase bold italic"><span class="colored">360%</span> of investment within duration</li>
            <li class="price-plan uppercase bold italic"><span class="colored">Capital</span> is not returned after specified duration</li>
        </ul><!-- End Price Plans -->
        <!-- Buy Now Button -->
        <a href="{% url 'mainsite:register' %}" class="price-buy-now uppercase semibold white">Register</a>
    </div><!-- End Table Inner -->
</li><!-- End Table -->

<!-- Table -->
<li class="col-xs-4 pricing-table relative">
    <!-- Table Inner -->
    <div class="table-inner">
        <!-- Table Top -->
        <div class="price-table-top">
            <!-- Header -->
            <h3 class="uppercase bold white absolute">Gold Package</h3> 
            <!-- Image Link -->
            <a class="price-table-img pattern-grid">
                <!-- Your Image -->
                <!-- <img src="images/tables/2.jpg" alt="" /> -->
            </a>
            <!-- Price Circle -->
            <a class="price-circle absolute dark">
                <!-- Price -->
                <p class="price playball">₦100,000</p>
                <!-- Timely -->
                <p class="timely italic normal">And above</p>
            </a>
        </div><!-- End Table Top -->
        <!-- Price Plans -->
        <ul class="price-plans">
            <li class="price-plan uppercase bold italic"><span class="colored">200% roi</span> of invested amount at the end of investment duration</li>
            
            <li class="price-plan uppercase bold italic"><span class="colored">Fixed</span> duration of 5 months</li>
            <!-- <li class="price-plan uppercase bold italic"><span class="colored">Payment</span> is only made at the end of duration</li> -->
            <!-- <br> -->
            <li class="price-plan uppercase bold italic"><span class="colored">Secured</span> with an email letter and an investor contract stating the exact date and amount to
                be paid at the end of the 5 months duration.</li>
        </ul><!-- End Price Plans -->
        <!-- Buy Now Button -->
        <a href="{% url 'mainsite:register' %}" class="price-buy-now uppercase semibold white">Register</a>
    </div><!-- End Table Inner -->
</li><!-- End Table -->