{% extends './base.html' %}

{% block hero %} {% endblock %}

{% block content %} 

<section id="contact" class="container parallax5">
    <!-- Contact Inner -->
    <div class="inner contact padding">

        <!-- Header -->
        <h1 class="header semibold white">SeQuenceFX<span class="extrabold colored"> Investments</span> FAQS</h1>

        <!-- Description -->
        
        
        
    </div><!-- End Inner -->
</section><!-- End Contact Section -->

<section>

    <div class="row inner" style="padding:40px 10px 40px 10px; text-align:left; font-size: 14px;">

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    What is done with my capital ?</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">Funds gathered from various investors are pulled together to trade the foreign Exchange Market which happens to be the BIGGEST and most LIQUID Financial market in the world. Your Funds go into trades that generate profits.  We are also partly involved in other businesses, including agriculture, automobiles and real estate. </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    How does it work? </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">After choosing your preferred package and you make your investment into our provided account number, We immediately begin to trade with your funds for the Next 15 days and pay the ROI into the account or wallet provided to us. After elapsing your Preferred package, you also have the option of reinvesting.  Our track record of consistency and transparency has made our investors world wide to trust us with their funds and always reinvest.  </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    What are the risks of this investment ?</a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">We are reliable and Your money is safer with us than in your bank. We invest on safe trades and do not take reckless risk. We are equipped with traders who have years of experience in the Forex Market and are top Notch. All our transactions are transparent and we carry our investors along.                 Therefore ;   So there’s no risk investing with us.</div>
              </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        What happens if the Forex Market crashes?</a>
                  </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">The forex market is the largest market in the world. The forex market is so big that no other market can compete with it. World banks and Central banks control the forex market. The forex market has been in existence for several years and cannot crash. An average of $7.6 Trillion dollars is traded everyday In the forex market, we trade currencies and if the currencies crash, we take advantage of it to earn even more profits. Hence, the forex Market cannot crash . </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        What happens if you make loses, will it affect my ROI? </a>
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <div class="panel-body">Loses are inevitable and also a dual part of the Foreign Exchange Market Trading Earnings. But at SeQuence_Fx, Loses made are very insignificant compared to our profits. We always keep our capital locked.  That’s why SeQuence_Fx Academy and Smart Invest with its set of skilled traders , have structures and strategies in place, to ensure we follow the principles of money and  risk management, At all times. 
                    Also, with the ever increasing number of Investments received daily, coupled with the fact that, we work round the clock, with portfolios in other profitable businesses,     Any loss made, at any time, does not affect investors capital and returns</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                        Is the company registered?</a>
                  </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                  <div class="panel-body">SeQuence_Fx Academy and Smart Invest is registered with the Corporate Affairs Commission with   RC:-------------</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                        What is the Minimum and Maximum Amount I can invest?</a>
                  </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                  <div class="panel-body">The Minimum investment amount we accept is $250 (N100,000) and the Maximum investment amount  is LIMITLESS</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                        When do I get paid after investing?</a>
                  </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse">
                  <div class="panel-body">You get paid on the 15th and 30th of each month.  If money is not received on the said dates, for any reason or contingency, then it would be received on the next working day. </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                        Is my personal information shared with a 3rd party? </a>
                  </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse">
                  <div class="panel-body">Your personal information will not be shared with a third party. Every bit of information you share with us is kept safe.  SeQuence_Fx Academy and Smart Invest will never share your personal or investment details with any third party</div>
                </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                    Why don't you make ROI payments for the month of December? </a>
                </h4>
              </div>
              <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                  On the month of December the forex market is stagnant and does not provide safe conditions for us to trade in and because of this we rarely do trade and most times don't. However payments of ROI for the month of December will be shifted to a later date.
                </div>
              </div>
          </div>

          </div>

    </div>

</section>

{% endblock %}